* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url("imagem/fundo.jpg");
    position: relative; 
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #000000;
    color: #fff;
}

header > h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
    font-size: 5vw;
    text-align: center;
}

#nameInput {
    margin: 30px;
    width: 200px; 
    height: 30px; 
}

#button {
    background-color: rgb(0, 0, 0); 
    color: #ffffff; 
}
button:hover {
    text-decoration: none;
    background-color: rgb(85, 74, 236);
    color: #ffffff;
}

#output {
    font-size: 20px;
    color: #fff;
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
